$primary: #00d9ff;

body {
  margin: 0;
}
section {
  position: relative;
  max-width: 1920px;
  margin: auto;
  img {
    max-width: 100%;
  }
  svg {
    margin-top: -2px;
    display: block;
    max-width: 100%;
    position: absolute;
    max-height: 100%;
  }
  .btn {
    fill: $primary;
    opacity: 0;
  }
  .num {
    opacity: 0;
  }
}

